@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0b0f1a;
    overflow: hidden;
}

.background span {
    width: 45vmin;
    height: 45vmin;
    border-radius: 45vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 40;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #1d03e0;
    top: 33%;
    left: 74%;
    animation-duration: 81s;
    animation-delay: -82s;
    transform-origin: 6vw 22vh;
    box-shadow: -90vmin 0 12.081426557373836vmin currentColor;
}
.background span:nth-child(1) {
    color: #02005d;
    top: 22%;
    left: 57%;
    animation-duration: 52s;
    animation-delay: -89s;
    transform-origin: -10vw -8vh;
    box-shadow: -90vmin 0 11.386769986197729vmin currentColor;
}
.background span:nth-child(2) {
    color: #02005d;
    top: 79%;
    left: 21%;
    animation-duration: 61s;
    animation-delay: -39s;
    transform-origin: -5vw -18vh;
    box-shadow: 90vmin 0 11.589403824174237vmin currentColor;
}
.background span:nth-child(3) {
    color: #02005d;
    top: 22%;
    left: 10%;
    animation-duration: 83s;
    animation-delay: -31s;
    transform-origin: 21vw -24vh;
    box-shadow: 90vmin 0 11.77969140630171vmin currentColor;
}
.background span:nth-child(4) {
    color: #02005d;
    top: 77%;
    left: 64%;
    animation-duration: 46s;
    animation-delay: -18s;
    transform-origin: -22vw -2vh;
    box-shadow: 90vmin 0 11.58546663011054vmin currentColor;
}
.background span:nth-child(5) {
    color: #02005d;
    top: 59%;
    left: 42%;
    animation-duration: 95s;
    animation-delay: -57s;
    transform-origin: -17vw 17vh;
    box-shadow: 90vmin 0 11.49482638410543vmin currentColor;
}
.background span:nth-child(6) {
    color: #02005d;
    top: 52%;
    left: 69%;
    animation-duration: 62s;
    animation-delay: -83s;
    transform-origin: 25vw 17vh;
    box-shadow: 90vmin 0 11.298883105142206vmin currentColor;
}
.background span:nth-child(7) {
    color: #02005d;
    top: 31%;
    left: 73%;
    animation-duration: 90s;
    animation-delay: -1s;
    transform-origin: -24vw 10vh;
    box-shadow: -90vmin 0 11.667143032702846vmin currentColor;
}
.background span:nth-child(8) {
    color: #1d03e0;
    top: 26%;
    left: 10%;
    animation-duration: 35s;
    animation-delay: -47s;
    transform-origin: 24vw -23vh;
    box-shadow: -90vmin 0 11.887111116685718vmin currentColor;
}
.background span:nth-child(9) {
    color: #02005d;
    top: 24%;
    left: 48%;
    animation-duration: 68s;
    animation-delay: -95s;
    transform-origin: 11vw 6vh;
    box-shadow: 90vmin 0 11.94437634585962vmin currentColor;
}
.background span:nth-child(10) {
    color: #1d03e0;
    top: 71%;
    left: 71%;
    animation-duration: 60s;
    animation-delay: -30s;
    transform-origin: -15vw 17vh;
    box-shadow: -90vmin 0 11.808872621148568vmin currentColor;
}
.background span:nth-child(11) {
    color: #1d03e0;
    top: 71%;
    left: 83%;
    animation-duration: 70s;
    animation-delay: -7s;
    transform-origin: -14vw -8vh;
    box-shadow: -90vmin 0 12.237806275540919vmin currentColor;
}
.background span:nth-child(12) {
    color: #02005d;
    top: 92%;
    left: 31%;
    animation-duration: 51s;
    animation-delay: -27s;
    transform-origin: -2vw 23vh;
    box-shadow: -90vmin 0 11.452845358423316vmin currentColor;
}
.background span:nth-child(13) {
    color: #1d03e0;
    top: 11%;
    left: 43%;
    animation-duration: 80s;
    animation-delay: -70s;
    transform-origin: 22vw 8vh;
    box-shadow: 90vmin 0 11.761061687281542vmin currentColor;
}
.background span:nth-child(14) {
    color: #02005d;
    top: 79%;
    left: 81%;
    animation-duration: 47s;
    animation-delay: -47s;
    transform-origin: 6vw -2vh;
    box-shadow: -90vmin 0 12.238616793187731vmin currentColor;
}
